.add-offers {
  position: relative;
  padding: 25px 0 35px 0;

  @media (min-width: 768px) and (max-width: 1439px) {
    padding: 0 0 75px 0;
    margin: 0;
  }

  @media (min-width: 1440px) {
    padding: 0 0 87px 0;
    margin: 0;
  }
}

.add-offers__block {
  margin: 0 20px 0 20px;
}

.add-offers__block-title {
  margin-bottom: 36px;
}

.add-offers__wrapper::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  z-index: -1;
  top: 38px;
  background-color: #68b738;

  @media (min-width: 768px) and (max-width: 1439px) {
    top: 21px;
    width: 100vw;
    left: calc((100vw - 100%) / -2);
  }

  @media (min-width: 1440px) {
    width: 100vw;
    left: calc((100vw - 100%) / -2);
    top: 23px;
  }
}

.add-offers__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  display: inline-block;
  margin: 0 0 33px 0;
  padding-right: 21px;
  background-color: #ffffff;

  @media (min-width: 768px) and (max-width: 1439px) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 79px 0;
    padding-left: 37px;
    padding-right: 36px;
  }

  @media (min-width: 1440px) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 79px -34px;
    padding-right: 34px;
    padding-left: 34px;
  }
}

.add-offers__item {
  @media (max-width: 767px) {
    padding-top: 13px;
    padding-bottom: 18px;
    border-bottom: 1px solid #ebebeb;
  }

  @media (min-width: 768px) and (max-width: 1439px) {
    padding: 26px 38px 27px 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: 1440px) {
    padding: 16px 0 15px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
}

.add-offers__item:not(:last-child) {
  @media (min-width: 768px) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.add-offers__list {
  padding-left: 0;
  list-style-type: none;
  border-top: 1px solid #ebebeb;
  margin: 0;

  @media (min-width: 768px) and (max-width: 1439px) {
    border: 1px solid #cdcdcd;
    margin-bottom: 68px;
  }

  @media (min-width: 1440px) {
    margin: 0 80px 0 0;
    width: 75%;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
  }
}

.add-offers__product-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  margin: 0;
  padding-bottom: 13px;

  @media (min-width: 768px) and (max-width: 1439px) {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 25px 0;
    padding: 0;
  }

  @media (min-width: 1440px) {
    margin: 0 5px 0 0;
    padding: 0;
    /*min-width: 324px;*/
    font-size: 20px;
    line-height: 20px;
    width: 32%;
  }
}

.add-offers__product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
  }
}

.add-offers__item-sum,
.add-offers__item-price {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.add-offers__item-price {
  @media (min-width: 768px) and (max-width: 1439px) {
    margin-left: 49px;
    margin-right: 4px;
  }

  @media (min-width: 1440px) {
    margin-left: 49px;
    margin-right: 4px;
  }
}

.add-offers__product-list {
  margin: 0 0 15px 0;

  @media (min-width: 768px) and (max-width: 1439px) {
    margin: 1px 0 15px 0;
  }

  @media (min-width: 1440px) {
    margin: 0 5px 0 0;
    min-width: 287px;
    max-width: 315px;
  }
}

.add-offers__present {
  @media (max-width: 767px) {
    text-align: center;
    padding: 58px 0 43px 0;
    margin-top: 35px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/catalog/cat-in-bag@1x--mobile.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/cat-in-bag@2x--mobile.png");
    }
  }

  @media (min-width: 768px) and (max-width: 1439px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 125px 64px 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/catalog/cat-in-bag@1x-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/cat-in-bag@2x-tablet.png");
    }
  }

  @media (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 59px 43px 42px 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/catalog/cat-in-bag@1x--desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/cat-in-bag@2x--desktop.png");
    }
  }
}

.add-offers__present-title {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin: 46px auto 0;
  width: 161px;

  @media (min-width: 768px) and (max-width: 1439px) {
    margin: 0;
    text-align: left;
    padding-top: 8px;
  }

  @media (min-width: 1440px) {
    margin: 48px 0 0 0;
  }
}

.add-offers__button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  padding: 10px 0 10px 0;

  @media (min-width: 768px) and (max-width: 1439px) {
    line-height: 0;
    padding: 20px 0 20px 0;
    width: 100%;
  }

  @media (min-width: 1440px) {
    padding: 11px 0 9px 0;
    width: 27.3%;

    &:hover,
    &:focus {
      background-color: #5eaa2f;

      &:active {
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.add-offers__inner {
  @media (min-width: 1440px) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
