.catalog {
  @media (min-width: 1440px) {
    padding-bottom: 10px;
  }
}

.catalog__item-block {
  border-bottom: 1px solid #ebebeb;
  padding: 19px 20px 20px 20px;
  margin: 0 -20px 0 -20px;
  box-sizing: border-box;

  @media (min-width: 769px) and (max-width: 1439px) {
    border: none;
    margin: 0 0 69px 0;
    padding: 0 36px 39px 36px;
    width: 45.7%;
    background-image: linear-gradient(0deg, rgba(242, 242, 242, 1) 86%, rgba(255, 255, 255, 1) 16%);
  }

  @media (min-width: 1440px) {
    border: none;
    margin: 0 0 66px 0;
    padding: 0 36px 39px 40px;
    width: 20%;
    background-image: linear-gradient(0deg, rgba(242, 242, 242, 1) 84.7%, rgba(255, 255, 255, 1) 16%);
  }
}

.catalog__item-block:nth-child(odd) {
  @media (min-width: 769px) and (max-width: 1439px) {
    margin-right: 60px;
  }
}

.catalog__item-block:not(:nth-child(4n)) {
  @media (min-width: 1440px) {
    margin-right: 81px;
  }
}

.catalog__wrapper {
  @media (min-width: 769px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__card-block {
  @media (max-width: 768px) {
    display: flex;
    padding-bottom: 13px;
  }

  @media (min-width: 769px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 34px;
  }
}

.catalog__image-block {
  @media (max-width: 768px) {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  @media (min-width: 769px)and (max-width: 1439px) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 206px;
    width: 100%;
  }

  @media (min-width: 1440px) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 196px;
    width: 100%;
  }
}

.catalog__data-card {
  @media (max-width: 768px) {
    width: 50%;
    text-decoration: none;
  }

  @media (min-width: 769px) {
    width: 100%;
  }
}

.catalog__title-link {
  @media (max-width: 768px) {
    width: 65%;
    text-decoration: none;
    display: block;
  }

  @media (min-width: 769px) {
    text-decoration: none;
  }
}

.catalog__card-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  text-decoration: none;
  margin-bottom: 13px;

  @media (min-width: 769px) and (max-width: 1439px) {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 27px auto 12px;
    text-align: center;
    width: 158px;
  }

  @media (min-width: 1440px) {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    margin: 45px 20px 16px 7px;
    text-align: center;
    width: 158px;
  }
}

.catalog__data {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;

  @media (min-width: 769px) {
    font-size: 16px;
    line-height: 16px;
    padding: 7px 0 8px 0;
  }
}

.catalog__card-table {
  width: 100%;
  border-spacing: 0;
  padding-bottom: 9px;

  @media (min-width: 769px) and (max-width: 1439px) {
    border-collapse: collapse;
    width: 100%;
    padding: 0;
  }

  @media (min-width: 1440px) {
    border-collapse: collapse;
    width: 100%;
    margin-left: 2px;
  }
}

.catalog__card-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: 769px) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog__item {
  margin-bottom: 19px;
}

.catalog__more-block {
  padding: 17px 20px 25px 20px;
  border-bottom: 1px solid #ebebeb;
  margin: 0 -20px 0 -20px;

  @media (min-width: 769px) and (max-width: 1439px) {
    border: 2px solid #f2f2f2;
    margin: 72px 0 69px 0;
    padding: 9px 38px 0 38px;
    width: 34.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 1440px) {
    border: 2px solid #f2f2f2;
    margin: 78px 0 64px 0;
    padding: 48px 41px 38px 44px;
    width: 12.7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.catalog__more-item {
  display: flex;
  list-style-type: none;
  background-image: url("../img/catalog/plus--mobile.svg");
  margin: 0 auto;
  width: 30px;
  height: 30px;

  @media (min-width: 769px) {
    background-image: url("../img/catalog/plus--tablet.svg");
    width: 60px;
    height: 60px;
    margin-bottom: 49px;
  }
}

.catalog__card-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  padding: 10px 0 10px 0;

  @media (min-width: 769px) {
    margin-left: 3px;
  }

  @media (min-width: 1440px) {
    margin-left: 0;

    &:hover,
    &:focus {
      background-color: #5eaa2f;

      &:active {
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.catalog__card-button--grey {
  display: block;
  width: 100%;
  color: #444444;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;

  @media (min-width: 769px) {
    margin-left: 0;
  }

  @media (min-width: 1440px) {
    padding: 10px 8px 10px 6px;


    &:hover,
    &:focus {
      background-color: #ebebeb;

      &:active {
        color: rgba(68, 68, 68, 0.3);
      }
    }
  }
}

.catalog__more-top {
  padding: 8px 0 0 0;

  @media (min-width: 1440px) {
    padding: 0;
  }
}

.catalog__item-next {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  display: flex;
  justify-content: center;

  @media (min-width: 769px) {
    font-size: 20px;
    line-height: 22px;
    width: 166px;
  }
}

.catalog__item-text {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;
  margin: 9px 0 21px 0;

  @media (min-width: 769px) {
    font-size: 16px;
    line-height: 18px;
    width: 166px;
    margin: 23px 0 87px 0;
  }
}

.catalog__card-image {
  @media (min-width: 769px) and (max-width: 1439px) {
    width: 171px;
    height: auto;
  }

  @media (min-width: 1440px) {
    width: 169px;
    height: auto;
  }
}

.catalog__card-image--small {
  @media (min-width: 769px) and (max-width: 1439px) {
    width: 164px;
    height: auto;
  }

  @media (min-width: 1440px) {
    width: 155px;
    height: auto;
  }
}

.catalog__card-image--big {
  @media (min-width: 769px) and (max-width: 1439px) {
    width: 164px;
    height: auto;
  }
}

.catalog__data--weight,
.catalog__data--price {
  @media (min-width: 769px) and (max-width: 1439px) {
    margin-right: 4px;
  }

  @media (min-width: 1440px) {
    margin-right: 4px;
  }
}
