.container {
  padding: 0 20px 0 20px;

  @media (min-width: 769px) {
    padding: 0 30px 0 30px;
  }

  @media (min-width: 1317px) {
    padding: 0 110px 0 110px;
  }
}

.container--bottom {
  @media (min-width: 1317px) {
    padding: 0 80px 0 80px;
  }
}
