.cooperation__block {
  display: flex;
  justify-content: space-between;
  padding: 26px 0 26px 0;

  @media (min-width: 768px) and (max-width: 1439px) {
    padding: 60px 40px 61px 40px;
  }

  @media (min-width: 1440px) {
    padding: 60px 0 60px 0;
  }
}
/*
.cooperation--block {
  @media (min-width: 1440px) {
    position: relative;
  }
}*/

.cooperation__wrapper {
  @media (min-width: 1440px) {
    position: absolute;
    top: 96px;
    left: 110px;
    width: 565px;
    background-color: #ffffff;
  }
}

.cooperation__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0 17px 0 0;
  width: 45%;

  @media (min-width: 768px) and (max-width: 1439px) {
    font-size: 20px;
    line-height: 26px;
    width: 30%;
  }

  @media (min-width: 1440px) {
    width: 40%;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #111111;
  }
}

.cooperation__addres-block {
  width: 50%;

  @media (min-width: 768px) and (max-width: 1439px) {
    width: 30%;
    margin-top: -4px;
  }

  @media (min-width: 1440px) {
    width: 157px;
    margin-top: -4px;
  }
}

.cooperation__addres {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;

  @media (min-width: 768px) and (max-width: 1439px) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-bottom: 20px;
  }

  @media (min-width: 1440px) {
    text-align: left;
    font-family: "Lato", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    margin-bottom: 19px;
  }
}

.cooperation__addres-point {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;

  @media (min-width: 768px) and (max-width: 1439px) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: 1440px) {
    text-align: left;
    font-family: "Lato", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
  }
}

.cooperation__map {
  width: 100%;
  height: 362px;
  display: block;
  border: none;

  @media (min-width: 768px) {
    height: 400px;
  }

  @media (min-width: 1440px) {
    height: 400px;
    width: 100%;
    display: block;
    border: none;
  }
}

.cooperation__map-block {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 1440px) {
    height: 400px;
  }
}

.cooperation__map-block picture,
.cooperation__map-block iframe {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 100%;
}

.cooperation__map-image {
  @media (max-width: 767px) {
    width: 100%;
    height: 362px;
    display: flex;
  }

  @media (min-width: 768px) {
    width: 100%;
    height: 400px;
    display: flex;
  }

  @media (min-width: 1440px) {
    height: 400px;
    width: 100%;
    display: flex;
  }
}

.cooperation__container {
  @media (min-width: 1440px) {
    padding: 0 110px 0 110px;
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
  }
}
