.cooperation__block {
  @media (min-width: 1317px) {
    padding: 56px 0 56px 0;
  }

  @media (min-width: 769px) and (max-width: 1317px) {
    padding: 56px 40px 56px 40px;
  }

  display: flex;
  justify-content: space-between;
  padding: 26px 0 26px 0;
}

.cooperation--block {
  @media (min-width: 1317px) {
    position: relative;
  }
}

.cooperation__wrapper {
  @media (min-width: 1317px) {
    position: absolute;
    top: 75px;
    left: 45px;
    width: 565px;
    background-color: #ffffff;
  }
}

.cooperation__title {
  @media (min-width: 769px) {
    font-size: 20px;
    line-height: 26px;
  }
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0 17px 0 0;
  width: 45%;
}

.cooperation__addres-block {
  @media (min-width: 1317px) {
    width: 175px;
  }

  width: 50%;
}

.cooperation__addres {
  @media (min-width: 1317px) {
    text-align: left;
  }

  @media (min-width: 769px) and (max-width: 1317px) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-bottom: 20px;
  }

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
}

.cooperation__addres-point {
  @media (min-width: 1317px) {
    text-align: left;
  }

  @media (min-width: 769px) and (max-width: 1317px) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
}

.cooperation__map {
  width: 100%;
  height: 362px;
  display: block;
}
