.example {
  background-color: #eaeaea;
  padding-bottom: 40px;

  @media (min-width: 768px) and (max-width: 1439px) {
    position: relative;
    padding: 40px 0 100px 0;
    border-top: 1px solid #e6e6e6;
    background-color: transparent;
  }

  @media (min-width: 1440px) {
    position: relative;
    padding: 0 0 21px 0;
    border: 0;
    background-color: transparent;
  }
}

.example__wrapper {
  @media (min-width: 1440px) {
    display: grid;
    min-height: 598px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
  }
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 40px 0;
  padding: 25px 0 0 1px;

  @media (min-width: 768px) and (max-width: 1439px) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
    padding-top: 3px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 145px;
    width: 436px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 24px 0 0 1px;
  }
}

.example__text {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0 0 20px 0;

  @media (min-width: 768px) and (max-width: 1439px) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: 1440px) {
    width: 432px;
    margin-bottom: 46px;
    font-family: "Lato", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    grid-column: 1 / 2;
  }
}

.example__stats {
  @media (min-width: 768px) and (max-width: 1439px) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
    width: 466px;
    grid-column: 1 / 2;
  }
}

.example__stats-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__stats-item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 124px;
  padding: 13px 0 17px 0;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: 768px) and (max-width: 1439px) {
    width: 162px;
    padding: 16px 0 17px 0;
  }

  @media (min-width: 1440px) {
    margin-bottom: 31px;
    width: 161px;
    padding: 13px 0 19px 0;
  }
}

.example__stats-item--left {
  margin-right: 16px;
}

.example__stats-item--right {
  margin-left: 16px;

  @media (min-width: 768px) {
    margin-left: 24px;
  }
}

.example__value {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__value-text {
  position: absolute;
  top: 47px;
  left: 14px;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  width: 60px;
  background-color: #eaeaea;
  padding: 0 17px 0 17px;

  @media (min-width: 768px) and (max-width: 1439px) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    width: 130px;
    padding: 0;
    top: 63px;
    left: 15px;
  }

  @media (min-width: 1440px) {
    background-color: #eaeaea;
    font-size: 14px;
    line-height: 14px;
    color: #444444;
    width: 130px;
    top: 61px;
    left: 14px;
    padding: 0;
  }
}

.example__total {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin: 34px 0 20px 0;
  text-transform: uppercase;

  @media (min-width: 768px) and (max-width: 1439px) {
    font-size: 20px;
    line-height: 29px;
    margin: 7px 0 0 0;
    width: 185px;
    text-align: right;
  }

  @media (min-width: 1440px) {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    width: 327px;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
  }
}

.example__sample-block {
  @media (min-width: 768px) and (max-width: 1439px) {
    margin-top: 104px;
  }

  @media (min-width: 1440px) {
    width: 50%;
    margin-top: 25px;
    margin-left: 170px;
    display: block;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
}

.example__sample {
  width: 100%;
}

.example__inner {
  @media (min-width: 768px) and (max-width: 1439px) {
    position: absolute;
    z-index: -1;
    background: linear-gradient(0deg, rgba(234, 234, 234, 1) 100%, rgba(255, 255, 255, 1) 54%);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 462px;
  }

  @media (min-width: 1440px) {
    background-color: #eaeaea;
    bottom: 0;
    left: 0;
    height: calc(100% - 160px);
    width: 100%;
    position: absolute;
    z-index: -1;
  }
}

.example__image {
  @media (max-width: 767px) {
    position: relative;
    top: 0;
    height: 256px;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-width: 768px) {
    position: relative;
    top: 0;
    height: 100%;
    background-size: cover;
    width: 50%;
  }
}

.example__image-before {
  position: relative;

  @media (max-width: 769px) {
    z-index: 20;
    left: 0;
    width: 138px;
    height: 256px;
  }

  @media (min-width: 768px) {
    z-index: 20;
    left: 0;
    width: 278px;
    height: 512px;
  }
}

.example__image-after {
  @media (max-width: 767px) {
    z-index: 10;
    right: 0;
    width: 138px;
    height: 256px;
  }

  @media (min-width: 768px) {
    z-index: 10;
    right: 0;
    width: 278px;
    height: 512px;
  }
}

/*
.example__picture--before {
  position: relative;

  @media (max-width: 769px) {
    z-index: 20;
    left: 0;
    background-image: url("../img/cat-fat--mobile@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-fat--mobile@2x.png");
    }
  }

  @media (min-width: 768px) {
    z-index: 20;
    left: 0;
    background-image: url("../img/cat-fat--desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-fat--desktop@2x.png");
    }
  }
}

.example__picture--after {
  @media (max-width: 767px) {
    background-image: url("../img/cat-scraggy--mobile@1x.png");
    z-index: 10;
    right: 0;
    background-position-x: -141px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-scraggy--mobile@2x.png");
    }
  }

  @media (min-width: 768px) {
    z-index: 10;
    right: 0;
    background-repeat: no-repeat;
    background-position-x: -283px;
    background-image: url("../img/cat-scraggy--desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-scraggy--desktop@2x.png");
    }
  }
}

.example__picture {
  @media (max-width: 767px) {
    position: relative;
    top: 0;
    height: 256px;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-width: 768px) {
    position: relative;
    top: 0;
    height: 100%;
    background-size: cover;
    width: 50%;
  }
}
*/
.example__image-wrapper {
  width: 280px;
  height: 256px;
  margin: 0 auto;
  position: relative;
  display: flex;

  @media (min-width: 768px) {
    position: relative;
    width: 560px;
    height: 512px;
    margin: 0 auto;
  }
}

.example__button {
  position: absolute;
  content: "";
  width: 4px;
  height: 100%;
  top: 0;
  right: 48.6%;
  background-color: #666666;
  z-index: 30;
  border: none;
  margin: 0;
  padding: 0;
  transform: translate(-50%, 0);


  @media (min-width: 768px) and (max-width: 1439px) {
    right: 49.2%;
    transform: translate(-50%, 0);
  }

  @media (min-width: 1440px) {
    right: 49.5%;
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    top: 0;
    background-color: #666666;
    z-index: 30;
    cursor: pointer;
    transform: translate(-50%, 0);

    &:hover,
    &:focus {
      background-color: #68b738;

      &:hover > .example__button-icon,
      &:focus > .example__button-icon {
        color: #68b738;
        fill: #68b738;
        border-color: #68b738;
      }

      &:active {
        background-color: #5eaa2f;

        &:hover > .example__button-icon,
        &:focus > .example__button-icon {
          color: #5eaa2f;
          fill: #5eaa2f;
          border-color: #5eaa2f;
        }
      }
    }
  }
}

.example__button-icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #666666;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example__range {
  @media (min-width: 768px) {
    width: 100%;
  }
}

.example__total-span--that {
  margin-right: 2px;
}
