.field-programs {
  border: none;
  margin: 0;
  padding: 0;
}

.field-programs__list {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

.field-programs__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  display: inline-flex;
  align-items: center;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.field-programs__item:not(:last-child) {
  margin-bottom: 9px;

  @media (min-width: 768px) and (max-width: 1439px) {
    margin-bottom: 7px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 8px;
  }
}

.field-programs__radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.field-programs__label::before {
  content: "";
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  display: inline-block;
  margin-right: 13px;
  background-position: center center;
  background-size: 13px 13px;
  background-repeat: no-repeat;
  flex-shrink: 0;

  @media (min-width: 768px) {
    width: 38px;
    height: 38px;
    margin-right: 21px;
    background-size: 19px 19px;
    flex-shrink: 0;
  }
}

.field-programs__radio:checked + label::before {
  background-image: url("../img/form/radiobutton--active.svg");
  background-color: #ffffff;
}

.field-programs__radio:disabled + label::before {
  opacity: 0.3;
}

.field-programs__radio:disabled + label {
  opacity: 0.3;
}

.field-programs__radio:not(:disabled) + label:hover::before {
  border: 1px solid #bababa;
}

.field-programs__radio:focus:not(:disabled) + .field-programs__label {
  outline: 2px solid #444444;
}
