.footer {
  background-color: #f2f2f2;

  @media (min-width: 768px) and (max-width: 1439px) {
    padding: 81px 0 55px 0;
  }

  @media (min-width: 1440px) {
    padding: 54px 0 67px 0;
  }
}

.footer__wrapper {
  @media (min-width: 768px) and (max-width: 1439px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__block {
  @media (max-width: 767px) {
    width: 100%;
  }
}

.footer__block--logo {
  text-align: center;
  padding: 40px 0 16px 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: 768px) and (max-width: 1439px) {
    border: none;
    padding: 0;
    width: 23.8%;
    display: flex;
    justify-content: flex-start;
  }

  @media (min-width: 1440px) {
    border: none;
    padding: 0;
    width: 23.8%;
    display: flex;
    justify-content: flex-start;
  }
}

.footer__logo-link {
  text-decoration: none;

  &:hover > .footer__logo-title,
  &:focus > .footer__logo-title {
    color: #3e3e3e;
    fill: #3e3e3e;
  }

  &:active {
    .footer__logo-title {
      color: #6b6b6b;
      fill: #6b6b6b;
    }
  }
}

.footer__social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 0 16px 0;
  list-style-type: none;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: 768px) {
    border: none;
    width: 100%;
  }
}

.footer__social-item {
  width: 28px;
  text-align: center;
}

.footer__social-item:not(:last-child) {
  margin-right: 24px;
}

.footer__block--copyright {
  padding: 20px 0 40px 0;

  @media (min-width: 768px) and (max-width: 1439px) {
    padding: 0;
    width: 23.6%;
  }

  @media (min-width: 1440px) {
    padding: 0;
    width: 23.6%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2px;
  }
}

.footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  @media (min-width: 768px) {
    justify-content: center;

    &:hover > .footer__copyright-image,
    &:focus > .footer__copyright-image {
      color: #68b738;
      fill: #68b738;
    }

    &:active {
      .footer__copyright-image,
      .footer__copyright {
        opacity: 0.3;
      }
    }
  }
}

.footer__copyright {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #444444;

  @media (min-width: 768px) {
    margin-right: 27px;
  }
}

.footer__main-block {
  margin: 40px 20px;
}

.footer__logo-title-block {
  display: flex;
  justify-content: center;
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
  padding-left: 0;
  margin: 40px 0;
}

.footer__copyright-block {
  display: flex;
  gap: 141px;
  align-items: center;
}

.footer__link-icon {
  color: #666666;
  fill: #666666;
}

.footer__social-link {
  &:hover > .footer__link-icon,
  &:focus > .footer__link-icon {
    color: #68b738;
    fill: #68b738;
  }

  &:active {
    .footer__link-icon {
      opacity: 0.3;
    }
  }
}

.footer__copyright-image {
  color: #666666;
  fill: #666666;
}

.footer__logo-title {
  @media (max-width: 767px) {
    width: 128px;
    height: 24px;
    color: #111111;
    fill: #111111;
  }

  @media (min-width: 768px) {
    width: 142px;
    height: 27px;
    color: #111111;
    fill: #111111;
  }
}

.footer__block--social {
  @media (max-width: 767px) {
    width: 100%;
  }

  @media (min-width: 768px) {
    width: 50%;
  }
}
