.form-title__block {
  @media (min-width: 1317px) {
    padding: 73px 0 66px 0;
  }

  @media (min-width: 769px) and (max-width: 1317px) {
    border-top: none;
    padding: 65px 37px 66px 40px;
  }

  @media (max-width: 769px) {
    border-top: 1px solid #d9d9d9;
    padding: 27px 0 39px 0;
  }
}

.form-title__main-title {
  @media (min-width: 1317px) {
    padding: 0 0 56px 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: 769px) and (max-width: 1317px) {
    font-size: 60px;
    line-height: 60px;
    padding: 0 0 54px 0;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding: 0 0 37px 0;
}

.form-title__text {
  @media (min-width: 769px) {
    font-size: 20px;
    line-height: 30px;
    max-width: 323px;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  max-width: 226px;
}
