.form__main {
  @media (min-width: 1440px) {
    padding: 0 0 82px 0;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    padding: 0 35px 72px 40px;
  }

  padding-bottom: 32px;
}

.form__wrapper {
  @media (min-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.form__weight-block {
  min-width: 60px;
}

.form__age-block {
  min-width: 94px;
}

.form__block {
  @media (min-width: 769px) and (max-width: 1439px) {
    padding: 0 0 72px 0;
  }

  @media (max-width: 769px) {
    padding: 0 0 23px 0;
  }
}

.form__block--program {
  @media (min-width: 1440px) {
    width: 42.2%;
    padding: 24px 27px 18px 27px;
    border: 1px solid #e7e7e7;
    margin: 0;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    border: 1px solid #e7e7e7;
    padding: 25px 27px 22px 27px;
    margin: 0 3px 0 0;
  }

  padding: 22px 20px 14px 20px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  margin: 0 -20px 0 -20px;
}

.form__user {
  display: flex;
  align-items: center;
}

.form__user:not(:last-child) {
  @media (min-width: 769px) {
    margin-bottom: 19px;
  }

  margin-bottom: 14px;
}

.form__data-block {
  margin-bottom: 46px;
}

.form__label {
  @media (min-width: 1440px) {
    flex-shrink: 0;
  }

  @media (min-width: 769px) {
    font-size: 20px;
    line-height: 30px;
    flex-shrink: 0;
    padding-bottom: 3px;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form__input {
  @media (min-width: 1440px) {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 20px 10px 20px;
    margin: 0 0 0 14px;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 20px 10px 20px;
    margin: 0 2px 0 14px;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  width: 100%;
  padding: 14px 20px 11px 20px;
  border: 1px solid #e7e7e7;
  margin: 0 0 0 13px;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }
}

/* stylelint-disable */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* stylelint-enable */

.form__title-block {
  @media (min-width: 1440px) {
    padding: 0 0 76px 0;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    padding: 75px 0 76px 0;
  }

  padding: 26px 0 35px 0;
  position: relative;
}

.form__title-block::before {
  @media (min-width: 1440px) {
    top: 22px;
    right: -110px;
    width: 150%;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    top: 97px;
    right: -65px;
    width: 150%;
  }

  position: absolute;
  content: "";
  top: 42px;
  right: -20px;
  height: 2px;
  width: 100%;
  background-color: #68b738;
  z-index: -1;
}

.form__title {
  @media (min-width: 1440px) {
    font-size: 36px;
    line-height: 36px;
    min-width: 517px;
    margin-left: -39px;
    padding: 0 35px 0 39px;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    font-size: 36px;
    line-height: 36px;
    min-width: 517px;
    margin-left: -39px;
    padding: 0 36px 0 39px;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  max-width: 187px;
  margin: 0;
  background-color: #ffffff;
  padding-right: 14px;
}

.form__inner-block {
  @media (min-width: 1440px) {
    width: 46.9%;
  }

  display: flex;
  align-items: center;
}

.form__inner-block:not(:last-child) {
  @media (min-width: 769px) and (max-width: 1439px) {
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    margin-bottom: 14px;
  }
}

.form__inner-label {
  @media (min-width: 769px) {
    font-size: 20px;
    line-height: 30px;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  text-transform: uppercase;
  flex-shrink: 0;
}

.form__inner-input {
  @media (min-width: 1440px) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 15px 10px 19px;
    margin: 0 1px 0 21px;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 15px 10px 19px;
    margin: 0 2px 0 21px;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  padding: 14px 15px 11px 15px;
  width: 100%;
  margin: 0 0 0 10px;
  border: 1px solid #cdcdcd;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }
}

.form__inner-block--icon,
.form__inner-block--image {
  position: relative;
}

.form__inner-block--image::after {
  @media (min-width: 769px) {
    top: 16px;
    right: 20px;
  }

  position: absolute;
  background-image: url("../img/form/form-email@1.svg");
  width: 20px;
  height: 20px;
  content: "";
  top: 13px;
  right: 15px;
  background-repeat: no-repeat;
}

.form__inner-block--icon::after {
  @media (min-width: 1440px) {
    top: 18px;
    right: 15px;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    top: 18px;
    right: 17px;
  }

  position: absolute;
  background-image: url("../img/form/form-phone@1.svg");
  width: 20px;
  height: 20px;
  content: "";
  top: 15px;
  right: 12px;
  background-repeat: no-repeat;
}

.form__textarea-block {
  @media (min-width: 1440px) {
    margin: 0 0 76px 0;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    margin: 0 0 76px 0;
  }

  margin: 0 0 39px 0;
  position: relative;
}

.form__textarea-block::before {
  @media (min-width: 1440px) {
    top: 23px;
    right: -110px;
    width: 150%;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    top: 23px;
    right: -65px;
    width: 150%;
  }

  position: absolute;
  content: "";
  top: 16px;
  right: -20px;
  height: 2px;
  background-color: #68b738;
  width: 100%;
  z-index: -1;
}

.form__textarea-title {
  @media (min-width: 769px) {
    font-size: 36px;
    line-height: 36px;
    min-width: 182px;
    padding: 0 38px 0 39px;
    margin-left: -39px;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  background-color: #ffffff;
  width: 121px;
  padding: 0 22px 0 0;
}

.form__textarea {
  @media (min-width: 1440px) {
    font-size: 20px;
    line-height: 36px;
    min-height: 174px;
    padding: 6px 12px 9px 18px;
    width: 100%;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    font-size: 20px;
    line-height: 36px;
    min-height: 174px;
    padding: 6px 12px 9px 18px;
    width: 99.5%;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  width: 100%;
  min-height: 150px;
  resize: none;
  padding: 9px 12px 9px 15px;
  box-sizing: border-box;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }
}

.form__button-block {
  @media (min-width: 1440px) {
    width: 100%;
  }

  @media (min-width: 769px) {
    display: flex;
    align-items: center;
    margin: 0;
  }

  margin: 8px 0 0 0;
  text-align: center;
}

.form__button {
  @media (min-width: 1440px) {
    width: 46.6%;
    margin: 0 84px 0 0;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 16px 45px 16px 45px;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    width: 44.6%;
    margin: 0 68px 0 0;
    font-size: 20px;
    padding: 16px 45px 16px 45px;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  padding: 10px 44px 10px 44px;
  margin-bottom: 19px;

  &:hover,
  &:focus {
    background-color: #5eaa2f;

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.form__button-footnote {
  @media (min-width: 1440px) {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding: 0 0 3px 7px;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding: 0 0 7px 3px;
  }

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding-left: 6px;
}

.form__block--add {
  @media (min-width: 1440px) {
    width: 100%;
    padding-bottom: 60px;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    padding-top: 39px;
    padding-bottom: 22px;
  }

  @media (max-width: 768px) {
    padding-bottom: 26px;
  }
}

.form__block--user {
  @media (min-width: 1440px) {
    width: 46.6%;
    padding: 0;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    padding: 0 0 71px 0;
  }
}

.form__block--contacts {
  @media (min-width: 1440px) {
    width: 100%;
    margin: 68px 0 67px 0;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    padding: 0 0 65px 0;
  }
}

.form__inner {
  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
  }
}

.form__block--textarea {
  @media (min-width: 1440px) {
    width: 100%;
    padding: 0 0 62px 0;
  }

  @media (max-width: 768px) {
    padding: 0 0 20px 0;
  }
}
