.form__main {
  @media (min-width: 1317px) {
    padding: 0 65px 82px 40px;
  }

  @media (min-width: 769px) {
    padding: 0 35px 72px 40px;
  }

  padding-bottom: 32px;
}

.form__weight-block {
  min-width: 60px;
}

.form__age-block {
  min-width: 94px;
}

.form__block {
  @media (min-width: 769px) {
    padding: 0 0 72px 0;
  }
  padding: 0 0 23px 0;
}

.form__block--program {
  @media (min-width: 769px) {
    border: 1px solid #e7e7e7;
    padding: 25px 27px 25px 27px;
    margin: 0;
  }

  padding: 22px 20px 19px 20px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  margin: 0 -20px 0 -20px;
}

.form__user {
  display: flex;
  align-items: center;
}

.form__user:not(:last-child) {
  @media (min-width: 769px) {
    margin-bottom: 20px;
  }

  margin-bottom: 14px;
}

.form__data-block {
  margin-bottom: 46px;
}

.form__label {
  @media (min-width: 769px) {
    font-size: 20px;
    line-height: 30px;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form__input {
  @media (min-width: 769px) {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 20px 11px 20px;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  width: 100%;
  padding: 14px 20px 13px 20px;
  border: 1px solid #e7e7e7;
  margin: 0 0 0 13px;
}

.form__title-block {
  @media (min-width: 769px) {
    padding: 71px 0 65px 0;
  }

  padding: 26px 0 35px 0;
}

.form__title {
  @media (min-width: 769px) {
    font-size: 36px;
    line-height: 36px;
    max-width: 90%;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  max-width: 187px;
  margin: 0;
}

.form__inner-block {
  display: flex;
  align-items: center;
}

.form__inner-block:not(:last-child) {
  @media (min-width: 769px) and (max-width: 1317px) {
    margin-bottom: 20px;
  }

  @media (max-width: 769px) {
    margin-bottom: 14px;
  }
}

.form__inner-label {
  @media (min-width: 769px) {
    font-size: 20px;
    line-height: 30px;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  text-transform: uppercase;
  flex-shrink: 0;
}

.form__inner-input {
  @media (min-width: 769px) {
    font-size: 20px;
    line-height: 30px;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  padding: 14px 15px 14px 15px;
  width: 100%;
  margin: 0 0 0 10px;
  border: 1px solid #cdcdcd;
}

.form__textarea-block {
  margin: 0 0 37px 0;
}

.form__textarea-title {
  @media (min-width: 769px) {
    font-size: 36px;
    line-height: 36px;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0;
}

.form__textarea {
  @media (min-width: 769px) {
    font-size: 20px;
    line-height: 36px;
    min-height: 174px;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  width: 100%;
  min-height: 150px;
  resize: none;
  padding: 9px 12px 9px 15px;
  box-sizing: border-box;
}

.form__button-block {
  @media (min-width: 769px) {
    display: flex;
    align-items: center;
    margin: 0;
  }

  margin: 11px 0 0 0;
  text-align: center;
}

.form__button {
  @media (min-width: 769px) {
    width: 44%;
    margin: 0 64px 0 0;
    font-size: 20px;
    padding: 13px 45px 13px 45px;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #68b738;
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  padding: 7px 44px 7px 44px;
  margin-bottom: 21px;
}

.form__button-footnote {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.form__block--add {
  @media (min-width: 769px) {
    padding-bottom: 54px;
  }
}
