.header {
  background-color: #ffffff;

  @media (min-width: 1440px) {
    padding-top: 53px;
    background-color: transparent;
  }
}

.header__logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    .header__logo {
      opacity: 0.8;
    }
  }

  &:active {
    .header__logo {
      opacity: 0.6;
    }
  }
}

.header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 15px 0;
}

.header__logo {
  @media (min-width: 769px) and (max-width: 1439px) {
    width: 174px;
    height: 51px;
  }

  @media (min-width: 1440px) {
    width: 202px;
    height: 59px;
  }
}

.header__toggle-icon--close {
  display: none;
}

.header__toggle-burger {
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  width: 24px;
  height: 16px;
  background-color: #ffffff;
  padding: 0;

  @media (min-width: 769px) {
    display: none;
  }
}

.header__toggle-burger::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 2px;
  top: 0;
  right: 0;
  background-color: #000000;
}

.header__toggle-burger::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 2px;
  bottom: 6px;
  right: 0;
  background-color: #000000;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 1);
}

.header__toggle--close {
  display: block;
  border: none;
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 19px;
  background-color: #ffffff;
  padding: 0;

  @media (min-width: 769px) {
    display: none;
  }
}

.header__toggle--close::after {
  position: absolute;
  content: "";
  width: 24.76px;
  height: 2px;
  top: 9px;
  right: 0;
  background-color: #000000;
  transform: rotate(46.8deg);
}

.header__toggle--close::before {
  position: absolute;
  content: "";
  width: 24.76px;
  height: 2px;
  bottom: 8px;
  right: 0;
  background-color: #000000;
  transform: rotate(-46.5deg);
  box-shadow: none;
}

.header__logo--tablet,
.header__logo--desktop,
.header__popover {
  display: none;
}

.header__logo--mobile,
.header__toggle {
  @media (min-width: 769px) {
    display: none;
  }
}

.header__logo--tablet {
  @media (min-width: 769px) and (max-width: 1439px) {
    display: block;
  }
}

.header__logo--desktop {
  @media (min-width: 1440px) {
    display: block;
    width: 202px;
  }
}

.header__logo-title {
  width: 101px;
  margin-right: 7px;
  padding-top: 3px;

  @media (min-width: 769px) {
    display: none;
  }
}

.header__popover {
  @media (max-width: 768px) {
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #ffffff;
    margin: 0 -20px 0 -20px;
    padding: 0 20px 0 20px;
  }

  @media (min-width: 769px) {
    display: block;
    width: 62.45%;
  }
}

.header__popover-list {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 9px 0;
  }

  @media (min-width: 1440px) {
    justify-content: flex-end;
    list-style-type: none;
    width: 100%;
    margin: 0;
    display: flex;
    padding: 0 0 18px 0;
  }
}

.header__popover-item:not(:last-child) {
  @media (max-width: 768px) {
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: 1440px) {
    margin-right: 35px;
  }
}

.header__popover-item:first-child {
  @media (max-width: 768px) {
    border-top: 1px solid #e6e6e6;
  }
}

.header__popover-item {
  @media (max-width: 768px) {
    padding: 22px 21px 22px 20px;
    margin: 0 -20px 0 -20px;
    text-align: center;
    list-style-type: none;
  }
}

.header__popover-link,
.header__popover-item {
  position: relative;
}

.header__popover-item--active .header__popover-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #38b738;
  bottom: -8px;
  left: 0;

  @media (min-width: 1440px) {
    background-color: #ffffff;
  }
}

.header__popover-item--dynamic .header__popover-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #38b738;
  bottom: -8px;
  left: 0;
}

.header__popover-link {
  @media (max-width: 768px) {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
  }

  @media (min-width: 1440px) {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.header__popover-link--dark {
  @media (min-width: 1440px) {
    color: #000000;
  }
}


.header__wrapper {
  @media (max-width: 768px) {
    position: relative;
    padding: 10px 0 0 0;
  }

  @media (min-width: 769px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
