.head-section {
  @media (max-width: 767px) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 100% 302px;
    background-position: center top;
    position: relative;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-mobile@2x.png");
      background-size: 100% 302px;
    }
  }

  @media (min-width: 768px) and (max-width: 1439px) {
    background-image: url("../img/index-tablet@1x.png");
    background-size: 709px 609px;
    background-position: left 30px bottom -18px;
    background-repeat: no-repeat;
    padding-top: 45px;
    padding-bottom: 497px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-tablet@2x.png");
    }

    &::before {
      display: none;
    }
  }

  @media (min-width: 1440px) {
    position: relative;
    background-image: none;
    padding-top: 10px;
    padding-bottom: 115px;

    &::before {
      display: none;
    }
  }
}

.head-section__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 25px 0;

  @media (min-width: 768px) and (max-width: 1439px) {
    width: 416px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left;
    margin-bottom: 42px;
    margin-left: -4px;
  }

  @media (min-width: 1440px) {
    width: 416px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left;
    margin-bottom: 40px;
    margin-left: 0;
    padding-top: 82px;
  }
}

.head-section__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0 0 29px 0;

  @media (min-width: 768px) and (max-width: 1439px) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
    margin: 0 0 48px 0;
  }

  @media (min-width: 1440px) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
    margin: 0 0 52px 0;
  }
}

.head-section__wrapper {
  @media (max-width: 767px) {
    padding: 27px 0 0 0;
  }

  @media (min-width: 768px) and (max-width: 1439px) {
    padding-left: 91px;
  }

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    align-items: flex-start;
    align-content: flex-start;
    min-height: 480px;
    padding-left: 80px;
  }
}

.head-section__button {
  width: 100%;
  background: #68b738;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 12px 0 10px 0;

  @media (min-width: 768px) {
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 0 17px 0;
    margin-bottom: 10px;
  }

  @media (min-width: 1440px) {
    order: 3;
    grid-column: 1 / 2;

    &:hover,
    &:focus {
      background-color: #5eaa2f;

      &:active {
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.head-section__picture {
  @media (min-width: 1440px) {
    order: 4;
    grid-row: 1 / -1;
    grid-column: 2 / 3;
  }
}

.head-section__picture-image {
  @media (max-width: 767px) {
    display: block;
    margin: 0 auto 3px auto;
    width: 280px;
    height: 270px;
  }

  @media (min-width: 768px) and (max-width: 1439px) {
    display: none;
  }

  @media (min-width: 1440px) {
    width: 552px;
    height: 499px;
    display: flex;
    margin-left: -48px;
    order: 4;
  }
}
