.instruction {
  padding: 20px 0 29px 0;

  @media (min-width: 768px) and (max-width: 1439px) {
    padding: 45px 0 0 0;
  }

  @media (min-width: 1440px) {
    padding: 71px 0 0 0;
  }
}

.instruction__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 39px 0;

  @media (min-width: 768px) {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 71px;
  }
}

.instruction__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  counter-reset: licounter;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: flex-start;
  }
}

.instruction__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  counter-increment: licounter;

  @media (min-width: 768px) and (max-width: 1439px) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 50%;
    max-width: 324px;
    padding-bottom: 114px;
  }

  @media (min-width: 1440px) {
    max-width: 246px;
    margin: 0 79px 0 0;
    padding-bottom: 83px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.instruction__item--one::before {
  content: "";
  background-image: url("../img/icon__leaf--index.svg");
  background-repeat: no-repeat;
  background-size: 30px 31px;
  background-position: center center;
  width: 60px;
  height: 60px;
  background-color: #68b738;

  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
}

.instruction__item--two::before {
  content: "";
  background-image: url("../img/icon__water--index.svg");
  background-repeat: no-repeat;
  background-size: 25px 28px;
  background-position: center center;
  width: 60px;
  height: 60px;
  background-color: #68b738;

  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
}

.instruction__item--three::before {
  content: "";
  background-image: url("../img/icon__fork--index.svg");
  background-repeat: no-repeat;
  background-size: 25px 30px;
  background-position: center center;
  width: 60px;
  height: 60px;
  background-color: #68b738;

  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
}

.instruction__item--four::before {
  content: "";
  background-image: url("../img/icon__watch--index.svg");
  background-repeat: no-repeat;
  background-size: 26px 31px;
  background-position: center center;
  width: 60px;
  height: 60px;
  background-color: #68b738;

  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
}

.instruction__item::after {
  @media (min-width: 768px) and (max-width: 1439px) {
    position: absolute;
    top: -39px;
    right: 77px;
    content: counter(licounter) "";
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
  }

  @media (min-width: 1440px) {
    position: absolute;
    top: -39px;
    right: 0;
    content: counter(licounter) "";
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
  }
}

.instruction__item:nth-child(n+3) {
  @media (min-width: 768px) {
    margin: 0;
    padding-bottom: 103px;
  }

  @media (min-width: 1440px) {
    margin: 0 79px 0 0;
    padding-bottom: 103px;
  }
}

.instruction__item-text {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  width: calc(100% - 81px);

  @media (min-width: 768px) and (max-width: 1439px) {
    font-size: 16px;
    line-height: 24px;
    width: 250px;
  }

  @media (min-width: 1440px) {
    font-size: 16px;
    line-height: 24px;
    width: 250px;
  }
}

.instruction__image-block--icon,
.instruction__image-block--watch,
.instruction__image-block--fork,
.instruction__image-block--water {
  position: relative;
}

/*
.instruction__item--one::after {
  @media (min-width: 768px) and (max-width: 1439px) {
    right: 99px;
  }

  @media (min-width: 1440px) {
    right: 21px;
  }
}
*/
