.instruction {
  @media (min-width: 769px) {
    padding: 45px 0 90px 0;
  }

  @media (min-width: 1317px) {
    padding: 71px 0 69px 0;
  }
  padding: 40px 0 20px 0;
}

.instruction__title {
  @media (min-width: 769px) {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 70px;
  }
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 40px 0;
}

.instruction__list {
  @media (min-width: 769px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  list-style-type: none;
  padding: 0;
  margin: 0;
  counter-reset: licounter;
}

.instruction__item {
  @media (min-width: 769px) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 50%;
    max-width: 300px;
    padding-bottom: 83px;
  }

  @media (min-width: 1317px) {
    max-width: 240px;
    margin: 0;
    padding-bottom: 83px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  counter-increment: licounter;
}

.instruction__item::before {
  @media (min-width: 1317px) {
    position: absolute;
    top: -39px;
    right: 0;
    content: counter(licounter) "";
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
  }

  @media (min-width: 769px) and (max-width: 1317px) {
    position: absolute;
    top: -39px;
    right: 61px;
    content: counter(licounter) "";
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
  }
}

.instruction__item:nth-child(n+3) {
  @media (min-width: 769px) {
    margin: 0;
  }
}

.instruction__item-text {
  @media (min-width: 769px) {
    font-size: 16px;
    line-height: 24px;
    width: 250px;
  }
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  width: calc(100% - 85px);
}

.instruction__image-block {
  @media (min-width: 769px) {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
  width: 60px;
  height: 60px;
  background-color: #68b738;
  display: flex;
  justify-content: center;
  align-items: center;
}
