.main-form__block {
  margin: 27px 20px 0 20px;
}

.main-form__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.main-form__intro {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.main-form__title-space {
  margin-bottom: 37px;
}

.main-form__title-block {
  margin-bottom: 39px;
}

.main-form__button-block {
  min-width: 280px;
  margin-bottom: 21px;
}

.main-form__button {
  cursor: pointer;
  min-width: 100%;
  border: none;
}

.main-form__footnote {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding-left: 64px;
}
