.main-form__block {
  margin: 27px 20px 0 20px;
}

.main-form__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.main-form__intro {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.main-form__title-space {
  margin-bottom: 37px;
}

.main-form__title-block {
  margin-bottom: 39px;
}

.form__name {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 14px;
}

.form__weight-block {
  min-width: 60px;
}

.form__age-block {
  min-width: 94px;
}

.form__weight {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 14px;
}

.form__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.form__input {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  padding: 14px 20px 13px 20px;
  border: 1px solid #e7e7e7;
  width: 100%;
}

.form__age {
  display: flex;
  align-items: center;
  gap: 13px;
}

.form__data-block {
  margin-bottom: 46px;
}

.field-programs {
  border: none;
  margin: 0;
  padding: 0;
}

.field-programs__list {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

.field-programs__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.field-programs__item {
  margin-bottom: 13px;
}

.contacts__title-block {
  padding: 32px 0 35px 0;
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0;
}

.contacts__form-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.contacts__label {
  min-width: 50px;
}

.contacts__input-wrapper {
  margin-bottom: 14px;
}

.comments {
  margin-bottom: 22px;
}

.comments__title-block {
  margin: 23px 0 37px 0;
}

.comments__text-block {
  width: 100%;
  min-height: 150px;
  padding: 9px 12px 9px 15px;
  box-sizing: border-box;
  resize: none;
}

.comments__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
}

.additionally {
  padding: 0;
  margin: 0;
  border: none;
}

.additionally__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.additionally__label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  text-transform: uppercase;
}

.additionally__list-block {
  margin-top: 34px;
}

.additionally__item {
  display: flex;
  gap: 16px;
  margin-bottom: 13px;
}

.main-form__button-block {
  min-width: 280px;
  margin-bottom: 21px;
}

.main-form__button {
  cursor: pointer;
  min-width: 100%;
  border: none;
}

.main-form__footnote {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding-left: 64px;
}
