.menu-roster__block {
  min-height: 380px;
  margin: 20px;
  background-color: #ffffff;
}

.menu-roster__item-block {
  display: flex;
}

.menu-roster__item-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  margin: 0;
}

.menu-roster__list {
  list-style-type: none;
  padding-left: 0;
}

.menu-roster__block-text {
  padding-bottom: 20px;
}

.menu-roster__text-space {
  padding-left: 80px;
}

.menu-roster__item-text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
}
