.popover--close {
  @media (max-width: 768px) {
    display: none;
  }
}

.popover--open {
  @media (max-width: 768px) {
    display: block;
  }
}

.popover--nojs {
  display: block;
  position: relative;
  top: 0;
}
