.programs__block {
  padding: 21px 20px 22px 20px;
  margin-top: 20px;
  background-color: #f2f2f2;

  @media (min-width: 769px) and (max-width: 1439px) {
    padding: 77px 28px 57px 53px;
  }

  @media (min-width: 1440px) {
    padding: 38px 52px 58px 52px;
    width: 38.2%;
    height: auto;
  }
}

.programs__block--next {
  @media (min-width: 769px) and (max-width: 1439px) {
    margin-top: 30px;
  }

  @media (min-width: 1440px) {
    margin-top: 19px;
  }
}

.programs__wrapper {
  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: 769px) {
    position: relative;
  }

  @media (min-width: 1440px) {
    align-items: center;
  }
}

.programs__item-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 8px;
  margin-bottom: 8px;
  width: calc(100% - 71px);

  @media (min-width: 769px) and (max-width: 1439px) {
    font-size: 36px;
    line-height: 36px;
    width: 100%;
    margin: 0;
  }

  @media (min-width: 1440px) {
    font-size: 36px;
    line-height: 36px;
    width: calc(100% - 160px);
    margin: 0;
    padding-top: 7px;
  }
}

.programs__item-title--next {
  margin: 0;
  padding: 7px 0 0 0;

  @media (min-width: 769px) and (max-width: 1439px) {
    padding: 0;
  }

  @media (min-width: 1440px) {
    padding: 7px 0 0 0;
  }
}

.programs__item-text {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 23px 0 0 0;
  padding-bottom: 21px;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: 769px) and (max-width: 1439px) {
    font-size: 16px;
    line-height: 24px;
    width: calc(100% - 287px);
    border-bottom: none;
    padding-bottom: 34px;
  }

  @media (min-width: 1440px) {
    font-family: "Lato", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    width: 100%;
    margin-top: 42px;
    padding-bottom: 27px;
    border-bottom: none;
  }
}

.programs__link-block {
  display: flex;
  align-items: center;
  padding: 20px 0 0 0;

  @media (min-width: 769px) and (max-width: 1439px) {
    width: calc(100% - 211px);
  }

  @media (min-width: 1440px) {
    width: 100%;
    padding-top: 0;
  }
}

.programs__images {
  display: block;
  width: 50px;
  height: 50px;

  @media (min-width: 769px) and (max-width: 1439px) {
    position: absolute;
    top: 5px;
    right: 14px;
    width: 200px;
    height: 211px;
  }

  @media (min-width: 1440px) {
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 106px;
  }
}

.programs__images-block {
  margin: 2px 0 0 -5px;

  @media (min-width: 769px) and (max-width: 1439px) {
    width: 254px;
  }

  @media (min-width: 1440px) {
    width: 134px;
  }
}

.programs__images--picture::after {
  @media (max-width: 768px) {
    content: "";
    background-image: url("../img/cat-sitting--mobile.svg");
    width: 50px;
    height: 53px;
    display: block;
    margin: 0 0 0 2px;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    position: absolute;
    content: "";
    background-image: url("../img/cat-sitting--tablet.svg");
    width: 200px;
    height: 211px;
    display: block;
    left: -20px;
  }

  @media (min-width: 1440px) {
    position: relative;
    content: "";
    background-image: url("../img/cat-sitting--desktop.svg");
    width: 100px;
    height: 106px;
    display: block;
    top: 3px;
  }
}

.programs__images-block::after {
  @media (max-width: 768px) {
    content: "";
    background-image: url("../img/cat-is-standing--mobile.svg");
    width: 67px;
    height: 50px;
    display: block;
  }

  @media (min-width: 769px) and (max-width: 1439px) {
    position: absolute;
    content: "";
    background-image: url("../img/cat-is-standing--tablet.svg");
    width: 268px;
    height: 200px;
    display: block;
    background-repeat: no-repeat;
    top: 5px;
    right: -13px;
  }

  @media (min-width: 1440px) {
    position: relative;
    content: "";
    background-image: url("../img/cat-is-standing--desktop.svg");
    width: 134px;
    height: 100px;
    display: block;
    background-repeat: no-repeat;
    left: -15px;
    top: 8px;
  }
}

.programs__item-link {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:active {
    opacity: 0.3;
  }
}

.programs__item-link--icon::after {
  content: "";
  background-image: url("../img/icon__folow2--index.svg");
  width: 24px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: right center;
  flex-shrink: 0;
  background-size: 32px 12px;
}

.programs__item-link--icon:hover::after {
  width: 32px;
}

.programs__link-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-right: 17px;
  width: 100%;

  @media (min-width: 769px) {
    font-size: 20px;
    line-height: 30px;
    padding-right: 27px;
  }
}

.programs__images-icon--tablet {
  @media (min-width: 1440px) {
    display: none;
  }

  @media (min-width: 769px) {
    display: block;
  }

  display: none;
}

.programs__images-icon {
  @media (min-width: 769px) {
    display: none;
  }
}

.programs__images-icon--desktop {
  display: none;

  @media (min-width: 1440px) {
    display: block;
  }
}
