.programs__block {
  @media (min-width: 1317px) {
    padding: 41px 52px 55px 52px;
    width: 40%;
    height: auto;
  }

  @media (min-width: 769px) and (max-width: 1317px) {
    padding: 77px 28px 53px 53px;
  }

  padding: 21px 20px 22px 20px;
  margin-top: 20px;
  background-color: #f2f2f2;
}

.programs__wrapper {
  @media (min-width: 1317px) {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item-block {
  @media (min-width: 1317px) {
    align-items: center;
  }

  @media (min-width: 769px) {
    position: relative;
  }

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.programs__item-title {
  @media (min-width: 1317px) {
    font-size: 36px;
    line-height: 36px;
    width: calc(100% - 160px);
  }

  @media (min-width: 769px) and (max-width: 1317px) {
    font-size: 36px;
    line-height: 36px;
    width: 100%;
  }

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 8px;
  margin-bottom: 8px;
  width: calc(100% - 71px);
}

.programs__item-text {
  @media (min-width: 1317px) {
    width: 100%;
    margin-top: 39px;
    padding-bottom: 23px;
  }

  @media (min-width: 769px) and (max-width: 1317px) {
    font-size: 16px;
    line-height: 24px;
    width: calc(100% - 263px);
    border-bottom: none;
  }

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 23px 0 0 0;
  padding-bottom: 21px;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}

.programs__link-block {
  @media (min-width: 1317px) {
    width: 100%;
    padding-top: 0;
  }

  @media (min-width: 769px) and (max-width: 1317px) {
    width: calc(100% - 211px);
  }

  display: flex;
  align-items: center;
  padding: 19px 0 0 0;
}

.programs__images {
  @media (min-width: 1317px) {
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 106px;
  }

  @media (min-width: 769px) and (max-width: 1317px) {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 211px;
  }

  display: block;
  width: 50px;
  height: 50px;
}

.programs__images-block {
  @media (min-width: 1317px) {
    width: 134px;
  }

  @media (min-width: 769px) {
    width: 254px;
  }

  margin: 3px 0 0 -5px;
}

.programs__images--picture::after {
  @media (min-width: 1317px) {
    position: relative;
    content: "";
    background-image: url("../img/cat-sitting--desktop.svg");
    width: 100px;
    height: 106px;
    display: block;
    top: -5px;
  }

  @media (min-width: 769px) and (max-width: 1317px) {
    position: absolute;
    content: "";
    background-image: url("../img/cat-sitting--tablet.svg");
    width: 200px;
    height: 211px;
    display: block;
    left: -20px;
  }

  @media (max-width: 769px) {
    content: "";
    background-image: url("../img/cat-sitting--mobile.svg");
    width: 50px;
    height: 53px;
    display: block;
    margin: 0 0 0 2px;
  }
}

.programs__images-block::after {
  @media (min-width: 1317px) {
    position: relative;
    content: "";
    background-image: url("../img/cat-is-standing--desktop.svg");
    width: 134px;
    height: 100px;
    display: block;
    background-repeat: no-repeat;
  }

  @media (min-width: 769px) and (max-width: 1317px) {
    position: absolute;
    content: "";
    background-image: url("../img/cat-is-standing--tablet.svg");
    width: 268px;
    height: 200px;
    display: block;
    background-repeat: no-repeat;
  }

  @media (max-width: 769px) {
    content: "";
    background-image: url("../img/cat-is-standing--mobile.svg");
    width: 67px;
    height: 50px;
    display: block;
  }
}

.programs__item-link {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:active {
    opacity: 0.3;
  }
}

.programs__link-block--icon::after {
  content: "";
  background-image: url("../img/icon__folow2--index.svg");
  width: 24px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: right center;
  flex-shrink: 0;
  background-size: 32px 12px;
}

.programs__link-block--icon:hover::after {
  width: 32px;
}

.programs__link-title {
  @media (min-width: 769px) {
    font-size: 20px;
    line-height: 30px;
    padding-right: 25px;
  }

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-right: 17px;
  width: 100%;
}

.programs__images-icon--tablet {
  @media (min-width: 769px) {
    display: block;
  }

  @media (min-width: 1317px) {
    display: none;
  }

  display: none;
}

.programs__images-icon {
  @media (min-width: 769px) {
    display: none;
  }
}

.programs__images-icon--desktop {
  @media (min-width: 1317px) {
    display: block;
  }
  display: none;
}
